@keyframes ldio-u6fvmrsm8ut-1 {
  0% { top: 34.16px; height: 175.68px }
  50% { top: 73.2px; height: 97.6px }
  100% { top: 73.2px; height: 97.6px }
}
@keyframes ldio-u6fvmrsm8ut-2 {
  0% { top: 43.92px; height: 156.16px }
  50% { top: 73.2px; height: 97.6px }
  100% { top: 73.2px; height: 97.6px }
}
@keyframes ldio-u6fvmrsm8ut-3 {
  0% { top: 53.68px; height: 136.64px }
  50% { top: 73.2px; height: 97.6px }
  100% { top: 73.2px; height: 97.6px }
}
.ldio-u6fvmrsm8ut div { position: absolute; width: 36.6px }.ldio-u6fvmrsm8ut div:nth-child(1) {
  left: 42.699999999999996px;
  background: #8e8e8e;
  animation: ldio-u6fvmrsm8ut-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}
.ldio-u6fvmrsm8ut div:nth-child(2) {
  left: 103.7px;
  background: #78909c;
  animation: ldio-u6fvmrsm8ut-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}
.ldio-u6fvmrsm8ut div:nth-child(3) {
  left: 164.7px;
  background: #373737;
  animation: ldio-u6fvmrsm8ut-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-k0busybhl4q {
  width: 244px;
  height: 244px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  background: none;
}
.ldio-u6fvmrsm8ut {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-u6fvmrsm8ut div { box-sizing: content-box; }