.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--grey-900-40)!important;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    z-index: 1000;
}

.header__button-avatar {
    background: none;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all 0.5s ease-out;
    &:hover {
        transform: scale(1.1);
        -webkit-box-shadow: 0 0 13px 0 rgba(190, 183, 251, 0.35);
        -moz-box-shadow: 0 0 13px 0 rgba(190, 183, 251, 0.35);
        box-shadow: 0 0 13px 0 rgba(190, 183, 251, 0.35);
    }
}

.header__button-avatar-wrapper {
    height: 50px;
    margin: auto 0 auto 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__buttons-wrapper {
    margin-left: 20px;
}

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
}
.header__button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    height: 100%;
}
.header__films-counter {
    color: var(--grey-200);
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-self: center;
    padding: 12px 0;
}

.header__nav-menu {
    display: flex;
    align-items: center;
}

.header__nav-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.header__nav-menu-list-item {
    padding: 12px 16px;
}

.header__nav-ham-wrapper {
    display: flex;
    position: relative;
    width: fit-content;
}

.header__nav-el {
    text-decoration: none;
    color: var(--grey-200);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 600;
    transition: all 0.5s ease-out;
    &:hover {
        color: var(--grey-50)
    }
}

.header__hamburger {
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
    &:hover {
        transform: scale(1.1);
    }
    
    path {
        stroke: var(--grey-400);
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
      
    path:nth-child(1) {
        transform-origin: 36% 40%;
    }
      
    path:nth-child(2) {
        stroke-dasharray: 29 299;
    }
      
    path:nth-child(3) {
        transform-origin: 35% 63%;
    }
      
    path:nth-child(4) {
        stroke-dasharray: 29 299;
    }
      
    path:nth-child(5) {
        transform-origin: 61% 52%;
    }
      
    path:nth-child(6) {
        transform-origin: 62% 52%;
    }

    
}

.header__hamburger_active {

    path:nth-child(1) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
    }
      
    path:nth-child(2) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
    }
      
    path:nth-child(3) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
    }
      
    path:nth-child(4) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
    }
      
    path:nth-child(5) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
    }
      
    path:nth-child(6) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
    }
}


@media screen and (max-width: 767px) {

    .header__nav-ham-wrapper {
        width: fit-content;
    }
}

@media screen and (max-width: 500px) {
    
    .header__films-counter {
        display: none;
    }  

    .header__nav-ham-wrapper {
        width: 100%;
        justify-content: space-between;
    }

    .header__wrapper {
        justify-content: flex-end;
    }
}  

