@import '../../styles/variables.scss';

.film-list__add-button {
    --delay: 0.3s;
    --transition: opacity var(--delay), background-color var(--delay), border-color var(--delay);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    right: 130px;
    bottom: 60px;
    width: 56px;
    height: 56px;
    background-color: var(--primary-400);
    background-size: cover;
    border: 2px solid var(--primary-400);
    border-radius: 100%;
    transition: var(--transition);
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        background-color: var(--primary-400);
        border-color: var(--primary-500);
        transition: var(--transition);
        opacity: 1;
    }
    &:active {
        background-color: var(--primary-500);
        border-color: var(--primary-500);
        transition:  var(--transition);
        opacity: 1;
        
    }
    svg {
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform: rotate(45deg) scale(1.2);
    }
}

@media screen and (max-width: 1199px) {
    .film-list__add-button {
        right: 70px;
        bottom: 70px;
    }
    
} 

@media screen and (max-width: 768px) {
    .film-list__add-button {
        right: 50px;
        bottom: 50px;
    }
    
} 
    
@media screen and (max-width: 425px) {
    .film-list__add-button {
        right: 30px;
        bottom: 30px;
        width: 50px;
        height: 50px;
    }
    
} 


.MuiModal-root.MuiDialog-root {
    .MuiDialog-container {
        .MuiPaper-root {
            background-color: var(--grey-800);
            font-size: 24px;
            line-height: 1.3;
            border-radius: 12px;
            overflow: hidden;
            letter-spacing: -0.015em;
            color: var(--grey-100);
            .MuiTypography-root { //запланировать фильм
                color: var(--grey-100);
            }

            .MuiDialogContent-root { //инпуты
                scrollbar-color: var(--grey-600) var(--grey-900);     /* «цвет ползунка» «цвет полосы скроллбара» */
                scrollbar-width: 3px;  /* толщина */

                .MuiDialogContentText-root { //заголовок окна инпутов
                    color: var(--grey-100);
                }

                .MuiFormControl-root { //рут всех инпутов
                    color: var(--grey-100);
                }

                .MuiAutocomplete-root { //название (но класс для всех форм с автозаполнением, если будет не одна)
                    
                    .MuiFormControl-root {
                        background: rgba(0, 0, 0, 0.1);
                        border: 2px solid;
                        border-radius: 12px;
                        border-color: var(--grey-500);
                        
                        .Mui-error {
                            border: none;
                            color: var(--grey-100);
                            
                            &:after {
                                border: none;
                            }
                        }
                        
                        
                        .MuiInputLabel-root {
                            padding-left: 20px;
                            padding-top: 1px;
                            color: var(--grey-100);
                            transition: margin 100ms linear, 
                            color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
                            transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
                            max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;

                            .MuiInputLabel-asterisk {
                                color: var(--grey-100);
                            }
                        }  
                        
                        .MuiInput-root {
                            margin-top: 15px;
                            padding: 3px 15px 13px 15px;
                            color: var(--grey-100);
                            &::after {
                                display: none;
                            }
                            &::before {
                                display: none;
                                border: none;
                                border-radius: 12px;
                                border-color: var(--grey-500);
                            }
                            .MuiInput-input {
                                max-width: 92%;
                            }
                            .MuiAutocomplete-endAdornment { //иконка стрелки
                                top: calc(50% - 21px);
                                .MuiButtonBase-root {
                                    color: var(--grey-100);
                                    .MuiSvgIcon-root {
                                        color: var(--grey-100);
                                    }
                                    .MuiTouchRipple-root {
                                        color: var(--grey-100);
                                    }
                                }
                            }
                        }
                        
                    }
                    .MuiFormControl-root.MuiFormControl-root-primary-border { //граница при фокусе
                        border-color: var( --primary-700);
                    }
                }

                
                
                .MuiFormControl-root:nth-child(3) { //описание
                    background: rgba(0, 0, 0, 0.1);
                    border: 2px solid;
                    border-radius: 12px;
                    border-color: var(--grey-500);
                    .MuiInputLabel-root {
                        padding-left: 20px;
                        padding-top: 1px;
                        color: var(--grey-100);
                        transition: margin 100ms linear, color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
                        margin-top: 8px;
                        top: -9px;
                        .Mui-focused {
                            margin-top: 8px;
                        }
                    }
                    .MuiInput-root {
                        margin-top: 15px;
                        padding: 3px 15px 13px 15px;
                        color: var(--grey-100);
                        &::after {
                            display: none;
                        }
                        &::before {
                            display: none;
                            border: none;
                            border-radius: 12px;
                            border-color: var(--grey-500);
                        }

                        .MuiInput-input { //их почему то два
                            padding: 4px 4px 4px 0;
                        }
                    }
                    .Mui-error {
                        border: none;
                        color: var(--grey-100);
                        
                        &:after {
                            border: none;
                        }
                    }
                    
                }
                .MuiFormControl-root:nth-child(3).MuiFormControl-root-primary-border-subtitle { //граница при фокусе
                    border-color: var( --primary-700);
                }

                .MuiFormControl-root:nth-child(4) { //жанры
                    background: rgba(0, 0, 0, 0.1);
                    border: 2px dotted;
                    border-radius: 12px;
                    border-color: var(--grey-500);
                    .MuiInputLabel-root {
                        padding-left: 20px;
                        padding-top: 1px;
                        color: var(--grey-100);
                        transition: margin 100ms linear, color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
                        margin-top: 8px;
                        top: -9px;
                        .Mui-focused {
                            margin-top: 8px;
                        }
                    }

                    .MuiInput-root {
                        margin-top: 15px;
                        padding: 3px 15px 13px 15px;
                        .MuiInput-input {
                            color: var(--grey-100);
                            padding: 4px 0 4px;
        
                        }
                        .MuiInput-input.Mui-disabled {
                            -webkit-text-fill-color: var(--grey-300);
                            color: var(--grey-100);   
                        }
                    }
                }

                .MuiFormControl-root:nth-child(5) { //дата добавления
                    background: rgba(0, 0, 0, 0.1);
                    border: none;
                    .MuiInputLabel-root {
                        padding-left: 20px;
                        padding-top: 1px;
                        color: var(--grey-100);
                        transition: margin 100ms linear, color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
                        margin-top: 8px;
                        top: -9px;
                        padding-left: 0;
                        top: -9px;
                        .Mui-focused {
                            margin-top: 8px;
                        }
                    }
                    .MuiOutlinedInput-root {
                        .MuiOutlinedInput-input {
                            margin-top: 0;
                            color: var(--grey-100);
                        }

                        .MuiInputAdornment-root {
                            .MuiButtonBase-root {
                                .MuiSvgIcon-root {
                                    color: var(--grey-100);
                                }
                                .MuiTouchRipple-root {
                                    color: var(--grey-100);
                                }
                            }
                        }

                        .MuiOutlinedInput-notchedOutline { //fieldset
                            border-width: 2px;
                            border-color: var(--grey-500);
                            border-radius: 12px;
                            legend {
                                color: var(--grey-100);
                            }
                        }
                        
                    }
                    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline { //вынес отдельно, так как класс только временный при фокусе
                        border-color: var(--primary-700);
                    }
                }

            }
        
        
            .MuiDialogContent-root::-webkit-scrollbar {
                width: 3px; /* ширина для вертикального скролла */
                height: 2px; /* высота для горизонтального скролла */
                background-color: var(--grey-900);
            }
        
            .MuiDialogContent-root::-webkit-scrollbar-thumb {
                background-color: var(--grey-600);
                border-radius: 9em;
                box-shadow: inset 1px 1px 10px --grey-600;
            }

            .MuiDialogActions-root { //кнопки

                .MuiButton-root { //общее для кнопок
                    color: var(--grey-100);
                }

                .MuiButton-root:nth-child(1) {
                    .MuiTouchRipple-root {
                        color: var(--grey-100);
                    }
                }

                .MuiButton-root:nth-child(2) {
                    .MuiTouchRipple-root { //этот рут добавляется, когда активна кнопка
                        color: var(--grey-100);
                    }
                }

                .MuiButton-root.Mui-disabled { //если кнопка отключена
                    color: var(--grey-600);
                }
            }

        }
    }
}

//автозаполнение
.MuiAutocomplete-popper {
    
    .MuiPaper-root {
        background-color: var(--grey-700);
        color:  var(--grey-100);
        -webkit-text-fill-color: var(--grey-100);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top: 4px;
        margin-top: -10px;

        .MuiAutocomplete-listbox {
            .MuiAutocomplete-option {
                color:  var(--grey-100);
            }
        }

        .MuiAutocomplete-listbox::-webkit-scrollbar {
            width: 3px; /* ширина для вертикального скролла */
            height: 2px; /* высота для горизонтального скролла */
            background-color: var(--grey-900);
        }
        .MuiAutocomplete-listbox::-webkit-scrollbar {
            width: 3px; /* ширина для вертикального скролла */
            height: 2px; /* высота для горизонтального скролла */
            background-color: var(--grey-900);
        }

        .MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
            background-color: var(--grey-600);
            border-radius: 9em;
            box-shadow: inset 1px 1px 10px --grey-600;
        }

        .MuiAutocomplete-listbox::-webkit-scrollbar {
            width: 3px; /* ширина для вертикального скролла */
            height: 2px; /* высота для горизонтального скролла */
            background-color: var(--grey-900)!important;
        }
        
        .MuiAutocomplete-loading {
            color: var(--grey-100);
            -webkit-text-fill-color: var(--grey-100);
        }
    }
}