.film-list {
    margin-top: 80px;
}


.film-list__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .film-list__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .film-list__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 399px) {
    .film-list__grid {
        grid-template-columns: 1fr;
    }
}