.cover {
    margin-top: 160px;
}

.container__poster-wrapper {
    width: 100%;
    height: 480px;
    background-image: url('../../resources/img/placeholder-big.png');
    background-size: cover;
    background-position: 50%;
    border-radius: 40px;
    overflow: hidden;
}

.container__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover__title-wrapper {
    position: relative;
    z-index: 2;
    padding: 40px;
    background: rgba(18,24,41,.98);
    background: var(--grey-900-98);
    border-radius: 24px;
    width: 100%;
    max-width: 560px;
    margin-top: -72px;
    margin-left: 80px;
}

.cover__breadcrumbs {
    color: var(--primary-200);
}

.cover__breadcrumb {
    text-decoration: none;
    color: var(--primary-200);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
}

.cover__title {
    margin: 8px 0 0 0;
    color: var(--grey-50);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -.02em;

}

@media screen and (max-width: 1199px) {
    .cover__title-wrapper {
        margin-top: -72px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 1023px) {
    .container__poster-wrapper {
        height: 320px;
    }
}

@media screen and (max-width: 1199px) {
    .cover {
        margin-top: 120px;
    }
}