@keyframes tremor {
    0%, 25% {
        right: 15px;
        -webkit-transform: translateX(-8%);
        transform: translateX(-8%);
    }
    50%, 100% {
        right: 21px;
        -webkit-transform: translateX(8%);
        transform: translateX(8%);
    }
}

.film {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 384px;
    border-radius: 12px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    padding: 8px 8px 16px 8px;
}

.film__poster-link {
    z-index: 2;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.film__poster {
    height: 400px;
    max-height: 400px;
    min-height: 260px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    transition: transform .3s cubic-bezier(.75,.25,.25,.75),
    -webkit-transform .3s cubic-bezier(.75,.25,.25,.75),
    -o-transform .3s cubic-bezier(.75,.25,.25,.75);
    &:hover {
        transform: scale(1.1);
    }
}

.film__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey-50);
}

.film__title-link {
    margin: 24px 0 0 8px;
    text-decoration: none;
}

.film__descr {
    position: relative;
    margin: 16px 0 0 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-400);
    transition: color 0.6s ease-in-out;
    align-self: flex-start;
    margin-top: auto;
    padding-top: 16px;
    
    &:hover {
        cursor: help; 
        color: var(--primary-400-70);
    }

    &:hover ~ div {
        opacity: 1;
    }

    
}


.LinesEllipsis {
    margin: 0;
}

.film__descr-text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    margin: 8px 8px 0 8px;
    scrollbar-width: none; /* firefox */
    height: 23.64vw;
    max-width: 100%;
    padding: 12px;
    border-radius: 12px;
    color: var(--grey-200);
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 1.15;
    opacity: 0;
    background-color: var(--grey-700-80);
    border-radius: 12px;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    &:hover {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
}



.film__delete-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: var(--grey-50);
    cursor: pointer;
    transition: transform 0.5s ease-out;
    svg {
        object-position: center;
    }

    &:hover {
        transform: scale(1.1);
    }
    
    &:active {
        animation: 0.1s tremor ease-out infinite;
    }
}

@media screen and (max-width: 1199px) {
    .film__title {
        font-size: 13px;
    }
    .film__poster {
        height: 318px;
    }
}

@media screen and (max-width: 1023px) {
    
    .film__poster {
        height: 360px;
    }
}

@media screen and (max-width: 767px) {
    
    .film__poster {
        height: 390px;
    }


}

@media screen and (max-width: 585px) {
    
    .film__poster {
        height: 355px;
    }


}


@media screen and (max-width: 500px) {
    
    .film__poster {
        height: 300px;
    }


}

@media screen and (max-width: 450px) {
    
    .film__poster {
        height: 260px;
    }


}

@media screen and (max-width: 400px) {
    
    .film__poster {
        height: 400px;
    }


}

@media screen and (max-width: 639px) {
    .film__title {
        font-size: 14px;
    }

    .film__descr {
        font-size: 14px;
    }

    .film__descr-text {
        font-size: 14px;
    }
}








